@media screen and (max-width: 767px) {
  .feature {
    padding: 60px 15px 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    padding: 60px 15px 60px;
  }

  .feature-set {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .feature-set__item {
    width: calc((100% - 60px) / 2);
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: var(--section-ptb);
  }

  .feature-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .feature-set__item {
    width: calc((100% - 120px) / 4);
  }
}

.feature-set__name {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.feature-set__text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-set__thumb {
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-set__wrapper {
  margin: 30px 0;
}
