.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.logo__text {
  color: #000000;
}

.logo__text--inverse {
  color: var(--secondary-text-color);
}
